<app-nav></app-nav>
<div *ngIf="user !== null">
  
  <h2> Bucket List</h2>

  <h3>Done</h3>
  <div>
    <form *ngFor="let item of bucketList">
      <div *ngIf="item.done">
        <input
        (click)="select()" 
        [disabled]="user._id!==item.taggedUser && user._id!==viewedUser" 
        type="checkbox" 
        value="{{item.id}}"
        [checked]="item.done">{{item.title}} | {{item.description}} | {{item.createdAt|date:'longDate'}}<br>
      </div>
    </form>
  </div>

  <h3>Pending</h3>
  <div>
    <form *ngFor="let item of bucketList">
      <div *ngIf="!item.done">
        <input
        (click)="select()" 
        [disabled]="user._id!==item.taggedUser && user._id!==viewedUser" 
        type="checkbox" 
        value="{{item.id}}"
        [checked]="item.done"> {{item.title}} | {{item.description}} | {{item.createdAt|date:'longDate'}}<br>
      </div>
    </form>
  </div>

</div>  